* {
    box-sizing: border-box;
  }

  /*
  html,
  body,
  #root {
    margin: 0; 
    height: 100%; 
    width: 100%; 
   overflow: hidden;
    user-select: none; 
  }
  */
  #root {
 /*   overflow: auto; */
/*    display: flex; */
/*    justify-content: center; */
 /*   background: #f0f0f0; */ 
    background: #fff8e1;  
    
  /*  padding: 15px; */ 
  }